<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    {% block content %}
    <div class="banner-top glass animated-glass"> <!-- Banner superior -->
        <p><span style="color:cyan">RAFAEL</span>ORTIZ</p>
        <button class="menu-toggle" aria-label="Abrir menú">
          &#9776; <!-- Símbolo de menú hamburguesa -->
        </button>
        <nav id="nav-banner">
          <ul class="nav-list">
            <li class="nav-link"><a class="nlink" href="#home" data-i18n="menu.home"></a></li>
            <li class="nav-link"><a class="nlink" href="#job" data-i18n="menu.projects"></a></li>
            <li class="nav-link"><a class="nlink" href="#about" data-i18n="menu.about"></a></li>
            <li class="nav-link"><a class="nlink" id="contact-link" href="#contact" data-i18n="menu.contact"></a></li>
          </ul>
        </nav>
        <div class="banner-actions">
          <button id="lang-toggle" class="lang-switcher">EN/ES</button>
          <a href="cv.html" target="_blank" rel="noopener" id="view-cv-btn">
            <button type="button" class="download-curriculum" data-i18n="menu.view-cv"></button>
          </a>
        </div>
      </div>
    {% endblock %}
</body>
</html>